/* @font-face {
  font-family: "Carter One";
  src: url("../../static/fonts/CarterOne-Regular.ttf");
} */
/* @value customGreen: #3ba150;
@value customBlue: rgb(47, 0, 255); */

/* .heading {
  font-family: Carter One;
  color: customBlue;
}
.link {
  text-decoration: none;
} */
/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

/* a {
  text-decoration: none;
} */
